.vs/
bin/
obj/
*.user
artifacts/
.vscode/
.dotnet/
*.binlog
/.gitignore~9170eab1cfa2d38243c508644627bed5a4005021
/.gitignore~9170eab1cfa2d38243c508644627bed5a4005021_0
/README.md~9170eab1cfa2d38243c508644627bed5a4005021
/README.md~9170eab1cfa2d38243c508644627bed5a4005021_0
/PAD_Tests/PAD_Tests.csproj~9170eab1cfa2d38243c508644627bed5a4005021
/PAD_Tests/PAD_Tests.csproj~9170eab1cfa2d38243c508644627bed5a4005021_0
/PAD/Data/AzureStorage.cs~9170eab1cfa2d38243c508644627bed5a4005021
/PAD/Data/AzureStorage.cs~9170eab1cfa2d38243c508644627bed5a4005021_0
/PAD_Tests/obj/
.vs/PAD/
/PAD_Tests/obj/Debug
/PAD_Tests/bin/
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PAD_Tests/bin/Debug/net5.0
/PAD/bin
/PAD/Properties
/PAD/obj
/PAD/.vs/PAD/DesignTimeBuild
/PAD/.vs/PAD/v15
/PAD/.vs/PAD/v16/TestStore/0
/PAD_Tests/obj/Debug/net5.0
/PAD_Tests/obj/Release/net5.0
/PAD_Tests/obj/PAD_Tests.csproj.nuget.cache
