@page
@model ConfirmEmailModel
@inject PAD.Data.IDbService DB

@{
    ViewData["Title"] = "Email Confirmed";
}
<link rel="stylesheet" href="/css/site.css" />
<h1>@ViewData["Title"]</h1>
<a href="/">Return to home</a>
<div class="watermark">
    <h3 class="text-right">Team</h3>
    <img src="/images/Rubber_Duck.webp" alt="Team Logo" />
</div>